[Unit]
Description=polybot dev
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/telegram_bot_Image_processing
ExecStart=/bin/bash /home/ubuntu/telegram_bot_Image_processing/polybot/run.sh /home/ubuntu/telegram_bot_Image_processing http://10.0.0.180:8080
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target